body {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    
}

.gridOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.colorPicker {
    align-self: center;
    border: none;
    
}

.grid {
    display: flex;
    flex: initial;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: seashell;
    
}

.row {
    display: flex;
    flex: 1;
    
}

.gridSquare {
    
    flex: 1;
}
